.networkData {
  min-height: 105px;
}

.status {
  font-size: var(--font-size-large);
  margin-bottom: calc(var(--spacer) / 8);
}

.block {
  margin-bottom: var(--spacer);
}

.block a {
  color: var(--brand-grey-lighter);
}

.block a:hover {
  color: var(--brand-pink);
}

.success {
  color: var(--green);
}

.error {
  color: var(--red);
}

.latency {
  display: inline-block;
  margin-left: calc(var(--spacer) / 4);
  font-size: var(--font-size-mini);
}
