@import './styles/variables';

.app {
  text-align: center;
  padding: $spacer / 2;
}

h1, h2 {
    color: $brand-white;
}

.header {
    text-align: center;
    margin-top: $spacer;

    h1 {
        margin-bottom: $spacer / 2;
    }

    p {
        font-size: $font-size-large;
        color: $brand-white;
        margin: auto;
        max-width: 35rem;
    }

    svg {
        width: 75px;
        height: 75px;
    }
}

.networks {
    display: grid;
    gap: $spacer;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin-top: $spacer * 2;
}
